{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "dynamic-import-webpack",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    ["module-resolver", { "root": ["./src"] }],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "es2015",
        "react",
        "react-optimize"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "dynamic-import-webpack",
        "transform-async-to-generator",
        "transform-object-rest-spread",
        ["module-resolver", { "root": ["./src"] }]
      ]
    }
  }
}
