{
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": [
    "import",
    "babel"
  ],
  "rules": {
    "max-len": [2, {
      "code": 80,
      "ignoreComments": true,
    }],
    "no-console": 0,
    "no-debugger": 0,
    "semi": [2, "never"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__BROWSER__": true,
    "__DEV__": true,
    "__TEST__": true,
    "Immutable": true,
    "Zone": true,
    "assert": true,
    "expect": true,
    "mount": true,
    "shallow": true,
    "render": true,
    "sinon": true,
    "nightmare": true,
    "visit": true
  }
}